/* body {
    display: flex;

}

header{
    display: flex;
}
nav{
    display: flex; 
/* } */
nav>ul a{
    display: flex;
    justify-content: space-around;
    color: white; 
    padding: 10px;
    
    
    
}
nav>ul{

    display: flex;
    justify-content: space-around;
}
.icon{
    color: black;
}
nav{
    background-color: black; 
    size: 120px;
    padding-top: 15px ;
    padding-bottom: 15px;
    
   
    
}

.main_nav{

    color: white;
}
ul{
    margin: 0%;
} 



footer{
    
    
    justify-content: space-around;
   
    
}
footer > ul {
    display: flex;
    justify-content: space-around;
    size: 200px;
    background-color: black;
    color: white;
    padding: 20px;
}
main{
    width: auto;
    height: 600px;
}

