.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70%;
    
    
}
.transaction {
    
    justify-content: center;
    width: 50%;
    

}

.new_transaction {
    display: flex;
    width: 500px;
    
    justify-content: center;
    padding: 10px;
    

}
#transaction {
   justify-content: right;

}