{% extends "base.html" %}

{% block homepage %}
    
    
    <!-- main container starts here -->

    <main>
        <div class="personal_account">
            <h2>Personal Accounts</h2>
            <div id="account">
                <img src="../monzo.png" alt="monzo">
            </div>
            <div id="+"></div>
        </div>


        -----------------------------------------------
        <div class="credit_card">
            <h2>Credit Cards</h2>
            <div id="credit"></div>
            <div id="+"></div>
        </div>
        -----------------------------------------------
        <div class="saving_account">
            <h2>Saving Accounts</h2>
            <div id="saving"></div>
            <div id="+"></div>
        </div>
    </main>

    
    
{% endblock %}






