{% extends "base.html" %}

{% block nav %} 
<header>     
    <nav>
        <ul>

            <li>Add Transaction</li>
            <li>Delete Transaction</li>
            <span class="material-icons-outlined"></span>
            <li><a href="">Home</a></li>

            <li><a href="">Overview</a></li>

            <li><a href=(/)> Log out</a></li>
        </ul>
    </nav>
</header>



{% endblock %}



{% block content %}






{% endblock %}

<!-- new block -->

{% block footer %}

{% endblock %}