{% extends "base.html" %}

{% block account %}
    <div class="container">
        <button>BACK</button>
        <img src="/Users/arek/Desktop/spending_tracker/static/images/monzo.png" alt="monzo">
        <div id="balance">
            <p>Net Balance:</p>
            <p>£ 1360.69</p>
        </div>
        <button id="transaction">Add Transaction</button>
        <button id="alert">Set Balance Alert</button>
        <div>
            <p>Sort Transaction by Date</p>
            <!-- two user inputs -->

        </div>
        <div class="statements">

        </div>
        
    </div>




{% endblock %}

