{% extends "base.html" %}

{% block account %}
    <div class="container">
        <button id="back">BACK</button>
        <img src="" alt="monzo" id="image">
        <div id="balance">
            <p>Net Balance:</p>
            <p>£ 1360.69</p>
        </div>
        <button id="transaction"><a href="/transactions/new">Add transaction</a></button>
        <button id="alert">Set Balance Alert</button>
        <div id="sort">
            <p>Sort Transaction by Date</p>
        </div>
        <div class="statements">

        </div>
        
    </div>




{% endblock %}

