{% extends "base.html" %}


{% block new_transaction %}
    <!-- <div>
        <button>BACK</button>

    </div> -->
    <div class="input">
        <div>
            <p>Transaction Editor</p>
        </div>
        <div class="new_transaction">
            <form action="/transactions" method="post">
                <div>
                    <label for="amount">Type amount: £</label>
                    <input type="text" id="amount" name="amount" placeholder="124.56" required autofocus>
                </div>
                <div>
                    <label for="merchant">Add merchant:</label>
                    <input type="text" id="merchant" name="merchant" placeholder="Ebay / Tesco" required autofocus>
                </div>
                <div>
                    <label for="date">Date:</label>
                    <input type="text" id="date" name="date" placeholder="30/06/1975" required autofocus>
                </div>
                <div>
                    <label for="tag">Add tag:</label>
                    <input type="text" id="tag" name="tag" placeholder="Groceries / Garage" required autofocus>
                </div>
                <button type="submit">Add transaction</button>
                
                
            </form>
            
        </div>
    </div>
    
    

{% endblock %}